<!-- Main Banner -->
<header class="banner">

  <div class="text text-center">
    <h1 class="banner-title">
      TE LLEVO
    </h1>
    <p class="banner-paragraph">
      Viaja desde tu Sede DUOC UC sin problemas
    </p>
  </div>

</header>

<div class="text-center">

  <section class="banner-intro">

    <p class="intro text-center">
      CÓMODO

      SEGURO

      RÁPIDO

      SENCILLO

    </p>

  </section>


  <div class="container text">

    <div class="row">
      <div class="col-6 text-col">
        <h2 class="title-grid">
          VIAJA SEGURO
        </h2>
        <p class="para-grid">
          La aplicación TeLLevo está pensada para la comodidad
          y seguridad de los usuarios, mantiene la confidencialidad
          de la información y conecta de manera segura y fácil a aquellos
          estudiantes que necesiten llegar sanos y salvos a su hogar.
        </p>
      </div>
      <div class="col-6 img-col">
        <img alt="imgSesion" src="assets/imgs/sesion.png" />
      </div>
    </div>

    <div class="row">
      <div class="col-6 img-col">
        <img alt="imgSesion" src="assets/imgs/viajes.png" />
      </div>
      <div class="col-6 text-col">
        <h2 class="title-grid">
          ENCUENTRA TU VIAJE
        </h2>
        <p class="para-grid">

          Para llegar a tu destino, solo debes ingresar a la app
          y encontrar el viaje que te convenga. Con solo dos clicks
          no tendrás que preocuparte por tomar la micro o el metro.
        </p>
      </div>
    </div>


    <div class="row row-final">
      <div class="col-6 text-col">
        <h2 class="title-grid">
          MAPEA TUS RUTAS
        </h2>
        <p class="para-grid">

          Tras confirmar el viaje, podrás encontrar en el mapa
          la ruta que tomará tu compañero conductor para llevarte
          a tu destino. Antes, durante y después del viaje podrás
          visualizar las rutas que tomaste en tus viajes con TeLLevo.
        </p>
      </div>
      <div class="col-6 img-col">
        <img alt="imgRutas" src="assets/imgs/rutas.png" />
      </div>
    </div>


  </div>

  <section class="dowload text">

    <h2 class="descarga">
      Descarga TeLLevo aquí
    </h2>

    <div class="container">

      <div class="row">
        <div class="col-12">
          <div class="mobile-view">
            <button class="btn btn-primary" (click)="irLink()">
              Descargar
            </button>
            <p>
              Se descargará e instalara la App
            </p>
          </div>

          <div class="web-view">
            <p>

              Escanea el codigo QR
              y comenzará tu descarga</p>

            <img class="qr-code" src="assets/imgs/download.png">
          </div>

        </div>
      </div>

    </div>
  </section>

</div>

<footer class="text-center text">

  <p class="title-footer ion-padding">
    Contacto
  </p>
  <p class="ion-text-center">
    info&#64;tellevoapp.com
  </p>

</footer>