<!-- Main Banner -->
<header class="banner">

  <div class="text text-center">
    <h1 class="banner-title">
      TE LLEVO
    </h1>
    <p class="banner-subtl">
      Viaja sin preocupaciones
    </p>
  </div>

</header>

<div class="text-center">

  <section class="banner-intro">

    <p class="intro text-center">
      CÓMODO
      SENCILLO
      SEGURO
    </p>


  </section>


  <div class="container text">

    <div class="row">
      <div class="col-6 text-col">
        <h2 class="title-grid">
          ENCUENTRA TU VIAJE
        </h2>
        <p class="para-grid">
          Consulta el recorrido que más te convenga
          y únete al viaje, sin preocuparte por
          el tranpsorte público.

        </p>
      </div>
      <div class="col-6 img-col">
        <img alt="imgSesion" src="assets/imgs/trips.png" />
      </div>
    </div>

    <div class="row">
      <div class="col-6 img-col">
        <img alt="imgSesion" src="assets/imgs/viewTrip.png" />
      </div>
      <div class="col-6 text-col">
        <h2 class="title-grid">
          VE SU RUTA
        </h2>
        <p class="para-grid">
          Puedes ver en todo momento la ruta que esta tomando tu viaje actual
        </p>
      </div>
    </div>


    <div class="row row-final">
      <div class="col-6 text-col">
        <h2 class="title-grid">
          VIAJA SEGURO
        </h2>
        <p class="para-grid">
          Al confirmar el viaje, podrás ver sus detalles, tales como:
          Ruta, Inicio y Destino, Conductor, etc.
          Así te aseguras que tendrás un buen viaje.
        </p>
      </div>
      <div class="col-6 img-col">
        <img alt="imgRutas" src="assets/imgs/tripDet.png" />
      </div>
    </div>


  </div>

  <section class="dowload text">

    <h2 class="descarga">
      Descarga TeLLevo!
    </h2>

    <div class="container">

      <div class="row">
        <div class="col-12">
          <!-- Vista Móvil -->
          <div class="mobile-view d-sm-none">
            <a href="https://drive.google.com/file/d/1AHe-s-ZuzZ8VOahL0umtwK_0C1mF9le9/view?usp=drive_link">
              <button class="btn btn-success">
                Descargar
              </button>
            </a>
            <p>
              Se descargará e instalara la App
            </p>
          </div>

          <!-- Vista Pc -->
          <div class="web-view d-none d-sm-block">
            <p>
              Escanea el QR
              para descargar la App</p>

            <img class="qr-code" src="assets/imgs/qr.svg">
          </div>

          <p class="opacity-50">Sólo disponible para Android</p>
        </div>
      </div>

      <!-- Actualizar Link de la App -->

    </div>
  </section>

  <footer>
    <h6>&copy; {{this.fecha}} TeLlevo by <a class="link" target="_blank"
        href="https://github.com/pabloomadd">pabloomadd</a></h6>
    <h6>Todos los Derechos Reservados</h6>
  </footer>
</div>