<ion-header>
  <ion-toolbar>
    <ion-title>
      TeLlevoWeb
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Header Banner -->
  <ion-header class="banner">

    <div class="ion-text-center">
      <h1 class="banner-title">Una manera más cómoda de Viajar</h1>
    </div>

  </ion-header>
  
  <body class="ion-text-center">
    
    <section class="banner-paragraph">
      
      <p class="intro">
        <br><br>
        Pellentesque ornare mi et tincidunt gravida. Donec dapibus pellentesque semper.
        Maecenas cursus placerat lacus, at sodales mi suscipit a. Fusce arcu eros, commodo
       
      </p>
      <br><br>
    </section>

    <section class="review">
      <ion-card>
        <img alt="imgSesion" src="assets/imgs/sesion.png" width="500" height="500"/>
        <ion-card-header>
          <ion-card-title>Viaja Seguro</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Gracias a nuestro Inicio de Sesion
        </ion-card-content>
      </ion-card>
      
      <h3>
        Encuentra tu Viaje
      </h3>

      <h3>
        Consulta el Mapa
      </h3>
    </section>

    <section class="dowload">
      <h2>
        Descarga nuestra app
      </h2>
    </section>

  </body>

  <footer>
    sss
  </footer>

</ion-content>
