
<ion-content>
  <!-- Header Banner -->
  <ion-header class="banner">

    <div class="ion-text-center">
      <h1 class="banner-title">
        TE LLEVO
      </h1>
      <p class="banner-paragraph">
        Viaja desde tu Sede DUOC UC sin problemas
      </p>
    </div>

  </ion-header>
  
  <div class="ion-text-center">
    
    
    <section class="banner-intro">
      
      <p class="intro ion-padding">
        <br><br>
        CÓMODO
        
        SEGURO
        
        RÁPIDO
        
        SENCILLO
       
      </p>
      <br><br>
    </section>


    <section class="review">

      <!-- Cuerpo -->
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="text-grid">
            <h2 class="title-grid">
              VIAJA SEGURO
            </h2>
            <p class="para-grid">
              
              La aplicación TeLLevo está pensada para la comodidad <br>
              y seguridad de los usuarios, mantiene la confidencialidad <br>
              de la información y conecta de manera segura y fácil a aquellos <br>
              estudiantes que necesiten llegar sanos y salvos a su hogar.
            </p>
          </ion-col>
          <ion-col size="6" class="img-grid">
            <br><br>
            <img alt="imgSesion" src="assets/imgs/sesion.png"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      

      <ion-grid>
        <ion-row>
          <ion-col size="6" class="img-grid">
            <br><br>
            <img alt="imgSesion" src="assets/imgs/viajes.png"/>
          </ion-col>
          <ion-col size="6" class="text-grid">
            <h2 class="title-grid">
              ENCUENTRA TU VIAJE
            </h2>
            <p class="para-grid">
              
              Para llegar a tu destino, solo debes ingresar a la app <br>
              y encontrar el viaje que te convenga. Con solo dos clicks <br>
              no tendrás que preocuparte por tomar la micro o el metro. <br>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      

      <ion-grid>
        <ion-row>
          <ion-col size="6" class="text-grid">
            <h2 class="title-grid">
              MAPEA TUS RUTAS
            </h2>
            <p class="para-grid">
              
              Tras confirmar el viaje, podrás encontrar en el mapa <br>
              la ruta que tomará tu compañero conductor para llevarte <br>
              a tu destino. Antes, durante y después del viaje podrás <br>
              visualizar las rutas que tomaste en tus viajes con TeLLevo.
            </p>
          </ion-col>
          <ion-col size="6" class="img-grid">
            <br><br>
            <img alt="imgRutas" src="assets/imgs/rutas.png"/>
          </ion-col>
        </ion-row>
      </ion-grid>

    </section>

    <br><br><br><br>
    
    <section class="dowload">

      <h2 class="descarga">
        Descarga TeLLevo aquí
      </h2>
      
      <div>
                
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="mobile-view">
                <ion-button (click)="irLink()">
                  <ion-icon slot="end" name="download"></ion-icon>
                    Descargar
                </ion-button>
                <p>
                  Se descargará e instalara la App
                </p>
              </div>
              
              <div class="web-view">
                <p>
                  
                  Escanea el codigo QR <br>
                  y comenzará tu descarga</p>
                  <br>
                <img class="qr-code"  src="assets/imgs/download.png">
              </div>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </section>

  </div>
  <br><br><br><br><br>
  <ion-footer class="ion-text-center">
    <ion-toolbar>
      <ion-title class="title-footer ion-padding">
        Contacto
      </ion-title>
      <p class="ion-text-center">
        info&#64;tellevoapp.com
      </p>
    </ion-toolbar>
  </ion-footer>


</ion-content>
